@import url(https://qwerewqwerew.github.io/source/style/reset.css);
.sec3{
    height:90vh;
    padding-top:10vh;
    margin-left:30vw;
}
.sec3 .left{
    position:absolute;
    width:45%;
    height:100%;
    left:55%;
}
.mockup.pc{
    width:100%;
    height:min(52rem,70%);
    z-index:3;
}
.mockup.mobile{
    position:absolute;
    width:min(25rem,70%);
    height:30rem;
    top:30%;
    left:75%;
    z-index:4;
}
.mockup.pc .mask{
    background-color: red;
    width:calc(100% - 80px);
    top:40px;
    left:40px;
    height:100%;
    z-index:999;
    overflow:hidden;
}
.mockup.mobile .mask{
    background-color: red;
    width:22rem;
    height:38.5rem;
    top:5rem;
    left:1.7rem;
    border-radius:1.6rem;
    z-index:999;
    overflow:hidden;
}

.left .screen{width:100%;}
.left .device{width:100%;}