html{
  overflow-x:hidden;
}
header{
  position:fixed;
  /* background-color: aqua; */
  width:100vw;
  height:10%;
  z-index:1;
  line-height:10rem;
}
header>div{
  justify-content: space-between;
}
header h1{
  font-size:3rem;
  padding:0 4.3rem;
  font-weight:600;
}
header>.fx{
  margin-right:5rem;
}
header>.fx h2{
  font-size:1.7rem;
  padding:0 3.2rem;
}
header>.fx a{
  position:relative;
}
header>.fx a:nth-of-type(1):after,
header>.fx a:nth-of-type(2):after,
header>.fx a:nth-of-type(3):after,
header>.fx a:nth-of-type(4):after{
  position:absolute;
  width:1.3rem;
  height:11rem;
  top:-1.5rem;
  right:1rem;
  font-size:1rem;
  color:var(--text3);
}
header>.fx a:nth-of-type(1):after{
  content:'01';
}
header>.fx a:nth-of-type(2):after{
  content:'02';
}
header>.fx a:nth-of-type(3):after{
  content:'03';
}
header>.fx a:nth-of-type(4):after{
  content:'04';
}
.scrollto{
  position:fixed;
  font-size:1.6rem;
  bottom:0%;
  right:5%;
}
main{
  position: relative;
  overscroll-behavior: none; /* 하위요소에 스크롤 안 들어아게 함 */
  width:2000rem;
  height:100vh;
  display:flex;
  flex-wrap:nowrap;
  overflow: hidden;
}


/* .item:nth-child(even) {
background-color: gray;
} */
  
/* ---------------------content1---------------------------- */

.visual{

    background-color: #8bb9ff;
}
#sec0>img{
  margin-top:10rem;
  
}

#sec1 .title{
  position:relative;
  height:34rem;
  top:30%;
  left:40%;
}
#sec1 .title h1{
  position:absolute;
  font-size:11.5rem;
  font-weight:400;
  line-height:13rem;
}
#sec1 .title .fx{
  position:absolute;
  bottom:0;
  gap:5rem;
}
#sec1 .title a{
border:1px solid #000;
padding:20px 50px;
}
section {
  width: 170rem;
  height: 100%;
  position:relative;
  display:block;
  gap: 5vw;
  }
#sec1{
  height:100vh;
}
#sec1:after{
  position:absolute;
  content:'';
  width:100rem;
  height:100%;
  background-color: #8bb9ff;
  top:0;
  right:-70rem;
  z-index:-1;
}
.visual{
  position:absolute;
  top:20%;
  left:10%;
}
#sec2{

  z-index:-1;
}
/* sec3 */
