header{
  background-color: none;
  line-height:5rem;
}
#lottie{
  position:relative;
  top:-2rem;
  width:17rem;
  height:17rem;
}
#lottie:after{
  position:absolute;
  content:'CIH';
  color:#0a66f9;
  font-size:2rem;
  font-weight:700;
  top:50%;
  left:48%;
  transform:translate(-50%,-50%);
}
#lottie2{
  position:absolute;
  top:-30%;
  left:-30%;
  width:200rem;
  height:200rem;
  z-index:-100;
}

#masthead {
  width:100%;
  position: fixed;
  display: flex;
  top:2rem;
  gap:2rem;
  z-index: 1;
  justify-content: space-between;
}

#masthead .gnb{
  font-family:'arimo', sans-serif;
  margin-right:2rem;
  text-align:center;
  display:inline-block;
  position:relative;
  width:14rem;
  height:4rem;
}
#masthead a {
  position:relative;
  text-decoration: none;
  line-height:4rem;
  font-size:2.2rem;
  width:14rem;
  height:4rem;
}
p.sa{
  width:1px;
  height:1px;
}

#masthead p:after{
  position:absolute;
  width:1.3rem;
  height:11rem;
  top:0.5rem;
  right:1rem;
  font-size:1.2rem;
  color:var(--text3);
}
#masthead .s1:after{
  content:'01';
}
#masthead .s2:after{
  content:'02';
}
#masthead .s3:after{
  content:'03';
}
#masthead .s4:after{
  content:'04';
}
#masthead .s5:after{
  content:'05';
}