*{
  box-sizing: border-box;
}
.wrap {
  width:100%;
  background: #ffffff;
  height: 511.2rem;
  position: relative;
  overflow-y: auto;
}
.contact {
  background: #ffffff;
  border-style: solid;
  border-color: transparent;
  border-width: 0.1rem;
  width: 120rem;
  height: 45.1rem;
  position: absolute;
  left: 0rem;
  top: 457.5rem;
  overflow: hidden;
}
.rectangle-22 {
  background: #ffc107;
  border-radius: 4rem;
  width: 37.1rem;
  height: 5.4rem;
  position: absolute;
  left: 16.2rem;
  top: 17.7rem;
}
.get-in-touch {
  color: #000000;
  text-align: left;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 4.5rem;
  font-weight: 600;
  position: absolute;
  left: 16.2rem;
  top: 9rem;
  width: 36.3rem;
}
.copyrights-choi-in-hyeok-all-right-reserved {
  color: var(--rectangle-21, #bac1c8);
  text-align: left;
  font-family: var(--type20-font-family, "Inter-Regular", sans-serif);
  font-size: var(--type20-font-size, 2rem);
  line-height: var(--type20-line-height, 120%);
  font-weight: var(--type20-font-weight, 400);
  position: absolute;
  left: 39.7rem;
  top: 40.1rem;
  width: 42.1rem;
}
._82-4567-4573 {
  color: #000000;
  text-align: left;
  font-family: var(--type20-font-family, "Inter-Regular", sans-serif);
  font-size: var(--type20-font-size, 2rem);
  line-height: var(--type20-line-height, 120%);
  font-weight: var(--type20-font-weight, 400);
  position: absolute;
  left: 16.2rem;
  top: 27.4rem;
  width: 27.7rem;
}
.email-me-vmfpdlasz-naver-com {
  color: #000000;
  text-align: left;
  font-family: var(--type20-font-family, "Inter-Regular", sans-serif);
  font-size: var(--type20-font-size, 2rem);
  line-height: var(--type20-line-height, 120%);
  font-weight: var(--type20-font-weight, 400);
  position: absolute;
  left: 19rem;
  top: 19.2rem;
  width: 31.7rem;
}
.line-1 {
  border-style: solid;
  border-color: var(--rectangle-21, #bac1c8);
  border-width: 0.1rem 0 0 0;
  width: 99.5rem;
  height: 0rem;
  position: absolute;
  left: 10rem;
  top: 37.8rem;
}
.career {
  background: #ffffff;
  border-style: solid;
  border-color: transparent;
  border-width: 0.1rem;
  width: 120rem;
  height: 86.7rem;
  position: absolute;
  left: 0rem;
  top: 370.8rem;
  overflow: hidden;
}
.frame-14 {
  width: 39.5rem;
  height: 18.3rem;
  position: absolute;
  left: 20.5rem;
  top: 19.6rem;
  overflow: hidden;
}
.div {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 2rem;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 0rem;
  top: 4.5rem;
  width: 23.8rem;
}
.ipd-lab {
  color: #000000;
  text-align: left;
  font-family: var(--type13-font-family, "Inter-Regular", sans-serif);
  font-size: var(--type13-font-size, 1.3rem);
  line-height: var(--type13-line-height, 120%);
  font-weight: var(--type13-font-weight, 400);
  position: absolute;
  left: 1.1rem;
  top: 10.4rem;
  width: 31.6rem;
}
._2015-2021 {
  color: var(--rectangle-21, #bac1c8);
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 1.6rem;
  line-height: 120%;
  font-weight: 700;
  position: absolute;
  left: 0rem;
  top: 1.3rem;
  width: 29.4rem;
}
.ellipse-10 {
  background: #ffc107;
  border-radius: 50%;
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  left: -0.3rem;
  top: 11rem;
}
.ellipse-11 {
  background: #ffc107;
  border-radius: 50%;
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  left: -0.3rem;
  top: 12.5rem;
}
.frame-16 {
  width: 39.5rem;
  height: 18.3rem;
  position: absolute;
  left: 84rem;
  top: 50.5rem;
  overflow: hidden;
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 2rem;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 0rem;
  top: 4.5rem;
  width: 19.4rem;
}
._2022-2023 {
  color: var(--rectangle-21, #bac1c8);
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 1.6rem;
  line-height: 120%;
  font-weight: 700;
  position: absolute;
  left: 0rem;
  top: 1.3rem;
  width: 29.4rem;
}
.ellipse-12 {
  background: #ffc107;
  border-radius: 50%;
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  left: -0.3rem;
  top: 14rem;
}
.unsplash-wb-xd-gs-d-17-u {
  width: 120rem;
  height: 20rem;
  position: absolute;
  left: 0rem;
  top: 72.3rem;
  object-fit: cover;
}
.frame-10 {
  background: var(--, #ffc107);
  width: 36.1rem;
  height: 19.1rem;
  position: absolute;
  left: 19.6rem;
  top: 47.9rem;
  overflow: hidden;
}
.unsplash-tpu-ao-8-g-vs-58 {
  width: 36.5rem;
  height: 23.3rem;
  position: absolute;
  left: -0.4rem;
  top: -2.4rem;
  object-fit: cover;
}
.unsplash-icx-3-h-3-dc-0-j-i {
  width: 35.7rem;
  height: 53.6rem;
  position: absolute;
  left: 20.3rem;
  top: -29.2rem;
}
.frame-11 {
  background: var(--, #ffc107);
  width: 41.3rem;
  height: 27.2rem;
  position: absolute;
  left: 65.8rem;
  top: 18.3rem;
  overflow: hidden;
}
.unsplash-tpu-ao-8-g-vs-582 {
  width: 42.6rem;
  height: 27.3rem;
  position: absolute;
  left: 0rem;
  top: -2.4rem;
  object-fit: cover;
}
._2-1 {
  width: 52.7rem;
  height: 46.5rem;
  position: absolute;
  left: -10.1rem;
  top: -17.5rem;
  object-fit: cover;
}
.experience {
  color: var(--rectangle-16, #57595d);
  text-align: left;
  font-family: var(--type20-font-family, "Inter-Regular", sans-serif);
  font-size: var(--type20-font-size, 2rem);
  line-height: var(--type20-line-height, 120%);
  font-weight: var(--type20-font-weight, 400);
  position: absolute;
  left: 53.2rem;
  top: 9.5rem;
  width: 22.4rem;
}
.about-me {
  background: #ffffff;
  border-style: solid;
  border-color: transparent;
  border-width: 0.1rem;
  width: 120rem;
  height: 77.6rem;
  position: absolute;
  left: 0rem;
  top: 72.7rem;
  overflow: hidden;
}
.frame-9 {
  background: var(--, #ffc107);
  width: 32.9rem;
  height: 32.6rem;
  position: absolute;
  left: 11.5rem;
  top: 35.9rem;
  overflow: hidden;
}
.frame-15 {
  width: 21.3rem;
  height: 13.8rem;
  position: absolute;
  left: 55.1rem;
  top: 30.5rem;
  overflow: hidden;
}
.education {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 2rem;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 0rem;
  top: 0rem;
  width: 19.4rem;
}
._3-6 {
  color: #000000;
  text-align: left;
  font-family: var(--type13-font-family, "Inter-Regular", sans-serif);
  font-size: var(--type13-font-size, 1.3rem);
  line-height: var(--type13-line-height, 120%);
  font-weight: var(--type13-font-weight, 400);
  position: absolute;
  left: 1.1rem;
  top: 5.9rem;
  width: 31.6rem;
}
.ellipse-102 {
  background: #ffc107;
  border-radius: 50%;
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  left: -0.3rem;
  top: 6.5rem;
}
.ellipse-112 {
  background: #ffc107;
  border-radius: 50%;
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  left: -0.3rem;
  top: 8rem;
}
.ellipse-122 {
  background: #ffc107;
  border-radius: 50%;
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  left: -0.3rem;
  top: 9.5rem;
}
.frame-162 {
  width: 20.5rem;
  height: 14.9rem;
  position: absolute;
  left: 87.8rem;
  top: 29.5rem;
  overflow: hidden;
}
.licenses {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 2rem;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 0rem;
  top: 1.1rem;
  width: 19.4rem;
}
._1-gtq-1 {
  color: #000000;
  text-align: left;
  font-family: var(--type13-font-family, "Inter-Regular", sans-serif);
  font-size: var(--type13-font-size, 1.3rem);
  line-height: var(--type13-line-height, 120%);
  font-weight: var(--type13-font-weight, 400);
  position: absolute;
  left: 1.1rem;
  top: 7rem;
  width: 20.2rem;
}
.ellipse-103 {
  background: #ffc107;
  border-radius: 50%;
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  left: -0.3rem;
  top: 7.6rem;
}
.ellipse-113 {
  background: #ffc107;
  border-radius: 50%;
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  left: -0.3rem;
  top: 9.1rem;
}
.frame-17 {
  width: 29.2rem;
  height: 18.3rem;
  position: absolute;
  left: 54.8rem;
  top: 45.3rem;
  overflow: hidden;
}
.experience2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 2rem;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 0rem;
  top: 4.5rem;
  width: 19.4rem;
}
.div3 {
  color: #000000;
  text-align: left;
  font-family: var(--type13-font-family, "Inter-Regular", sans-serif);
  font-size: var(--type13-font-size, 1.3rem);
  line-height: var(--type13-line-height, 120%);
  font-weight: var(--type13-font-weight, 400);
  position: absolute;
  left: 1.1rem;
  top: 10.4rem;
  width: 31.6rem;
}
.frame-18 {
  width: 19.4rem;
  height: 13.8rem;
  position: absolute;
  left: 88.9rem;
  top: 49.8rem;
  overflow: hidden;
}
.programs {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 2rem;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 0rem;
  top: 0rem;
  width: 19.4rem;
}
.rectangle-31 {
  background: #d9d9d9;
  width: 28.2rem;
  height: 1.5rem;
  position: absolute;
  left: 0.3rem;
  top: 14.7rem;
}
.frame-21 {
  width: 120.5rem;
  height: 35.4rem;
  position: absolute;
  left: 0rem;
  top: 77rem;
  overflow: hidden;
}
.frame-23 {
  width: 120.5rem;
  height: 56.9rem;
  position: absolute;
  left: 0rem;
  top: 0.4rem;
  overflow: hidden;
}
.div4 {
  color: var(--rectangle-16, #57595d);
  text-align: left;
  font-family: var(--type20-font-family, "Inter-Regular", sans-serif);
  font-size: var(--type20-font-size, 2rem);
  line-height: var(--type20-line-height, 120%);
  font-weight: var(--type20-font-weight, 400);
  position: absolute;
  left: 58.7rem;
  top: 15.8rem;
  width: 22.4rem;
}
.image-1 {
  width: 39rem;
  height: 58.5rem;
  position: absolute;
  left: 48.1rem;
  top: 10rem;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
._3-zip {
  color: #9e9ea0;
  text-align: left;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 4.8rem;
  line-height: 5rem;
  font-weight: 600;
  position: absolute;
  left: 53.4rem;
  top: 9.4rem;
  width: 62.4rem;
  height: 10.1rem;
}
.free-icon-css-3-5968242 {
  width: 4.6rem;
  height: 4.6rem;
  position: absolute;
  left: 87.8rem;
  top: 54.4rem;
  object-fit: cover;
}
.free-icon-html-5-5968267 {
  width: 4.7rem;
  height: 4.6rem;
  position: absolute;
  left: 92.4rem;
  top: 54.4rem;
  object-fit: cover;
}
.free-icon-illustrator-5968472 {
  width: 3.7rem;
  height: 3.6rem;
  position: absolute;
  left: 97.9rem;
  top: 55.4rem;
  object-fit: cover;
}
.free-icon-photoshop-5968520 {
  width: 3.6rem;
  height: 3.5rem;
  position: absolute;
  left: 102.4rem;
  top: 55.4rem;
  object-fit: cover;
}
.div5 {
  position: absolute;
  inset: 0;
}
.ellipse-16 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 2.3rem;
  top: 22.7rem;
}
.ellipse-17 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 2.3rem;
  top: 25.1rem;
}
.ellipse-18 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 2.3rem;
  top: 27.5rem;
}
.ellipse-19 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 2.3rem;
  top: 29.9rem;
}
.ellipse-20 {
  background: #ffc107;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  position: absolute;
  left: 2rem;
  top: 32.3rem;
}
.ellipse-21 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 2.3rem;
  top: 35.4rem;
}
.ellipse-22 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 2.3rem;
  top: 37.8rem;
}
.ellipse-23 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 2.3rem;
  top: 40.2rem;
}
.ellipse-24 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 2.3rem;
  top: 42.6rem;
}
.main-visual {
  background: #838383;
  width: 120rem;
  height: 72.7rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}
.div6 {
  width: 120rem;
  height: 72.7rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: visible;
}
._3-zip-designer-consturcite {
  text-align: left;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 11.8rem;
  line-height: 23.4rem;
  font-weight: 600;
  position: absolute;
  left: 0rem;
  top: 33.9rem;
  width: 187rem;
  height: 13.3rem;
  -webkit-text-stroke: 0.2rem #5b5b5b;
}
.image-2 {
  width: 44.3rem;
  height: 66.5rem;
  position: absolute;
  left: 63.4rem;
  top: 6.2rem;
  object-fit: cover;
}
._3-zip2 {
  color: var(--rectangle-16, #57595d);
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 4.9rem;
  line-height: 120%;
  font-weight: 700;
  position: absolute;
  left: 7.8rem;
  top: 14.5rem;
}
.component-3 {
  width: 20.9rem;
  height: 6.2rem;
  position: absolute;
  left: 4.5rem;
  top: 28.9rem;
}
.rectangle-24 {
  border-radius: 3rem;
  border-style: solid;
  border-color: var(--rectangle-16, #57595d);
  border-width: 0.2rem;
  width: 69.86%;
  height: 70.97%;
  position: absolute;
  right: 13.88%;
  left: 16.27%;
  bottom: 14.52%;
  top: 14.52%;
}
.div7 {
  color: var(--rectangle-16, #57595d);
  text-align: left;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 2rem;
  line-height: 120%;
  font-weight: 600;
  position: absolute;
  right: 38.76%;
  left: 36.36%;
  width: 24.88%;
  bottom: 30.65%;
  top: 30.65%;
  height: 38.71%;
}
.arrow-2 {
  width: 7.66%;
  height: 0%;
  position: absolute;
  right: 26.79%;
  left: 65.55%;
  bottom: 50%;
  top: 50%;
  transform: translate(0rem, -0.5519999999999999rem);
  overflow: visible;
}
.component-4 {
  width: 20.9rem;
  height: 6.2rem;
  position: absolute;
  left: 22.5rem;
  top: 28.9rem;
}
.arrow-22 {
  width: 7.66%;
  height: 0%;
  position: absolute;
  right: 26.79%;
  left: 65.55%;
  bottom: 50%;
  top: 50%;
  transform: translate(0rem, -0.5519999999999999rem);
  overflow: visible;
}
.frame-22 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 8rem;
  top: 3.6rem;
}
.component-13 {
  flex-shrink: 0;
  width: 10.2rem;
  height: 1.9rem;
  position: relative;
}
.home {
  color: var(--rectangle-16, #57595d);
  text-align: left;
  font-family: var(--type16-font-family, "Inter-Regular", sans-serif);
  font-size: var(--type16-font-size, 1.6rem);
  line-height: var(--type16-line-height, 120%);
  font-weight: var(--type16-font-weight, 400);
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.component-14 {
  margin: 0 0 0 -0.8rem;
  flex-shrink: 0;
  width: 10.6rem;
  height: 1.9rem;
  position: relative;
}
.about-me2 {
  color: var(--rectangle-16, #57595d);
  text-align: left;
  font-family: var(--type16-font-family, "Inter-Regular", sans-serif);
  font-size: var(--type16-font-size, 1.6rem);
  line-height: var(--type16-line-height, 120%);
  font-weight: var(--type16-font-weight, 400);
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.component-17 {
  margin: 0 0 0 -0.8rem;
  flex-shrink: 0;
  width: 10.7rem;
  height: 1.9rem;
  position: relative;
}
.career2 {
  color: var(--rectangle-16, #57595d);
  text-align: left;
  font-family: var(--type16-font-family, "Inter-Regular", sans-serif);
  font-size: var(--type16-font-size, 1.6rem);
  line-height: var(--type16-line-height, 120%);
  font-weight: var(--type16-font-weight, 400);
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: -100%;
  top: 0%;
  height: 200%;
}
.component-15 {
  margin: 0 0 0 -0.8rem;
  flex-shrink: 0;
  width: 10.7rem;
  height: 1.9rem;
  position: relative;
}
.project {
  color: var(--rectangle-16, #57595d);
  text-align: left;
  font-family: var(--type16-font-family, "Inter-Regular", sans-serif);
  font-size: var(--type16-font-size, 1.6rem);
  line-height: var(--type16-line-height, 120%);
  font-weight: var(--type16-font-weight, 400);
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.component-16 {
  margin: 0 0 0 -0.8rem;
  flex-shrink: 0;
  width: 10.6rem;
  height: 1.9rem;
  position: relative;
}
.skill {
  color: var(--rectangle-16, #57595d);
  text-align: left;
  font-family: var(--type16-font-family, "Inter-Regular", sans-serif);
  font-size: var(--type16-font-size, 1.6rem);
  line-height: var(--type16-line-height, 120%);
  font-weight: var(--type16-font-weight, 400);
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.component-12 {
  margin: 0 0 0 -0.8rem;
  flex-shrink: 0;
  width: 6.5rem;
  height: 1.9rem;
  position: relative;
}
.contact2 {
  color: var(--rectangle-16, #57595d);
  text-align: left;
  font-family: var(--type16-font-family, "Inter-Regular", sans-serif);
  font-size: var(--type16-font-size, 1.6rem);
  line-height: var(--type16-line-height, 120%);
  font-weight: var(--type16-font-weight, 400);
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.canvastemplate-com-demo-personal-1 {
  width: 164rem;
  height: 162.9rem;
  position: absolute;
  left: -21.7rem;
  top: 207.9rem;
  object-fit: cover;
}
.div8 {
  color: #000000;
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 3rem;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 9.2rem;
  top: 272.2rem;
}
.div9 {
  color: #000000;
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 3rem;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 71.8rem;
  top: 270.2rem;
}
.div10 {
  color: #000000;
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 5rem;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 51.1rem;
  top: 207.2rem;
}
.html-css-javascript-jquery {
  color: #000000;
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 9.2rem;
  top: 278.5rem;
  width: 48.2rem;
  height: 17.4rem;
}
.javascript-jquery-html-css-javascript-jquery {
  color: #000000;
  text-align: left;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 71.8rem;
  top: 276.5rem;
  width: 39.3rem;
  height: 15.2rem;
}
.my-skills {
  width: 120rem;
  height: 55.5rem;
  position: absolute;
  left: 0rem;
  top: 149.3rem;
  overflow: hidden;
}
.group-6 {
  position: absolute;
  inset: 0;
}
.ellipse-14 {
  background: #000000;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  left: 95.4rem;
  top: 15.7rem;
}
.ellipse-15 {
  background: #ffc107;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  left: 95.6rem;
  top: 15.9rem;
}
.frame-92 {
  background: var(--, #ffc107);
  width: 63.2rem;
  height: 0.6rem;
  position: absolute;
  left: 32.8rem;
  top: 16.2rem;
  overflow: hidden;
}
.group-7 {
  position: absolute;
  inset: 0;
}
.ellipse-142 {
  background: #000000;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  left: 88rem;
  top: 19.2rem;
}
.ellipse-152 {
  background: #ffc107;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  left: 88.2rem;
  top: 19.4rem;
}
.frame-93 {
  background: var(--, #ffc107);
  width: 56rem;
  height: 0.6rem;
  position: absolute;
  left: 32.8rem;
  top: 19.7rem;
  overflow: hidden;
}
.group-8 {
  position: absolute;
  inset: 0;
}
.ellipse-143 {
  background: #000000;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  left: 93.9rem;
  top: 22.7rem;
}
.ellipse-153 {
  background: #ffc107;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  left: 94.1rem;
  top: 22.9rem;
}
.frame-94 {
  background: var(--, #ffc107);
  width: 61.7rem;
  height: 0.6rem;
  position: absolute;
  left: 32.8rem;
  top: 23.2rem;
  overflow: hidden;
}
.group-9 {
  position: absolute;
  inset: 0;
}
.ellipse-144 {
  background: #000000;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  left: 96.9rem;
  top: 26.2rem;
}
.ellipse-154 {
  background: #ffc107;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  left: 97.1rem;
  top: 26.4rem;
}
.frame-95 {
  background: var(--, #ffc107);
  width: 64.8rem;
  height: 0.6rem;
  position: absolute;
  left: 32.8rem;
  top: 26.7rem;
  overflow: hidden;
}
.group-10 {
  position: absolute;
  inset: 0;
}
.ellipse-145 {
  background: #000000;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  left: 95.3rem;
  top: 29.7rem;
}
.ellipse-155 {
  background: #ffc107;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  left: 95.5rem;
  top: 29.9rem;
}
.frame-96 {
  background: var(--, #ffc107);
  width: 63.2rem;
  height: 0.6rem;
  position: absolute;
  left: 32.8rem;
  top: 30.2rem;
  overflow: hidden;
}
.group-11 {
  position: absolute;
  inset: 0;
}
.ellipse-146 {
  background: #000000;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  left: 89rem;
  top: 33.2rem;
}
.ellipse-156 {
  background: #ffc107;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  left: 89.2rem;
  top: 33.4rem;
}
.frame-97 {
  background: var(--, #ffc107);
  width: 56.8rem;
  height: 0.6rem;
  position: absolute;
  left: 32.8rem;
  top: 33.7rem;
  overflow: hidden;
}
.group-12 {
  position: absolute;
  inset: 0;
}
.ellipse-147 {
  background: #000000;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  left: 91.7rem;
  top: 36.7rem;
}
.ellipse-157 {
  background: #ffc107;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  left: 91.9rem;
  top: 36.9rem;
}
.frame-98 {
  background: var(--, #ffc107);
  width: 59.8rem;
  height: 0.6rem;
  position: absolute;
  left: 32.8rem;
  top: 37.2rem;
  overflow: hidden;
}
.photoshop {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.8rem;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 17.7rem;
  top: 15.6rem;
  width: 15.1rem;
}
.illustrator {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.8rem;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 17.7rem;
  top: 19rem;
  width: 9.8rem;
}
.html-css {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.8rem;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 17.7rem;
  top: 22.4rem;
  width: 13.5rem;
}
.javascript {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.8rem;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 17.7rem;
  top: 25.8rem;
  width: 9.8rem;
}
.jquery {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.8rem;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 17.7rem;
  top: 29.2rem;
  width: 9.8rem;
}
.scss {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.8rem;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 17.7rem;
  top: 36rem;
  width: 9.8rem;
}
.figma {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.8rem;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 17.7rem;
  top: 32.6rem;
  width: 9.8rem;
}
.my-skills2 {
  color: #000000;
  text-align: left;
  font-family: var(--type31-font-family, "Inter-Regular", sans-serif);
  font-size: var(--type31-font-size, 3.1rem);
  line-height: var(--type31-line-height, 120%);
  font-weight: var(--type31-font-weight, 400);
  position: absolute;
  left: 54.4rem;
  top: 8.4rem;
}
.line-12 {
  border-style: solid;
  border-color: var(--rectangle-21, #bac1c8);
  border-width: 0.1rem 0 0 0;
  width: 99.5rem;
  height: 0rem;
  position: absolute;
  left: 8.8rem;
  top: 200.2rem;
}
.frame-24 {
  width: 48.5rem;
  height: 47.3rem;
  position: absolute;
  left: 8.9rem;
  top: 222.1rem;
  overflow: hidden;
}
.rustymotor-github-1 {
  width: 48.4rem;
  height: 112rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  object-fit: cover;
}
.frame-25 {
  width: 40.1rem;
  height: 28.4rem;
  position: absolute;
  left: 71.6rem;
  top: 238.7rem;
  overflow: hidden;
}
.wannadesign-co-1 {
  width: 43.8rem;
  height: 127.6rem;
  position: absolute;
  left: -0.6rem;
  top: 0rem;
  object-fit: cover;
}
