@import url(https://qwerewqwerew.github.io/source/style/reset.css);

.row{max-width:420px;margin:auto;}
.row ul li{display:inline-table;width:30%;}
.row ul li img{width:100%;}
#lightbox{
    position:fixed;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,.7);
    top:0;
    left:0;
    z-index:999;
    display:none;

}

#lightboxImage{
    width:80%;
    height:80vh;
    top:100px;
    left:50%;
    transform:translateX(-50%);
    position:fixed;
    overflow-y:auto;

}
.all_scroll_fixed{
    overflow:hidden;
}